node_modules
*.log
build
/built
.DS_Store
.reviewboardrc
/rev
/.vscode
/.idea
/*.local.*
/.history
tsconfig.tsbuildinfo

/**/mock/**
/**/node_modules/**
/**/lib/**
/**/program/**
/packages/dsp/src/static
